#######################################
## THEME NAME: digitalRedux
## BY D Juarez  2024
## Hi everyone! I really like the digital theme but I'm also a sucker for large
## album art so I decided to edit the digital theme. I want to say ~70% of the
## code is original and the rest I added to implement additional things (such as
## the playlist position) and a typeface that supports Japanese. Hope y'all like
## it. This theme is intended to be simple so it will load fast. If you want to
## contact me make a post on the rockbox subreddit and I'll get in contact with
## you. Happy music listening! :)))))
## Disc working icon was taken from the xhibition theme and the icons were taken
## from adawaita. If y'all would rather me use different icons, then first of all
## apologies and secondly no problem my bad. I'll change it as soon as I can and
## upload it.
#######################################
## PREVIOUS THEME DIGITAL
## BY: TBX1024 (AT) GMAIL (DOT) COM
## PLATFORM: IPOD CLASSIC (IPOD 6G/6.5G/7G) (320*240)
## VERSION: 1.0
## Sat Mar 15 10:54:44 CET 2014
## License: Creative Commons Attribution-Share Alike 3.0
## (http://creativecommons.org/licenses/by-sa/3.0/)
########################################
## ORIGINAL THEME:
## THEME NAME: MINIMAL RETRO
## BY: SDENT64 (AT) HOTMAIL (DOT) COM
## PLATFORM: SANSA FUZE V2 (220x176x16)
## VERSION: 0.1
#######################################
# Improved by OlsroFR (2025)
#### CFG FILE ########################

wps: /.rockbox/wps/digitalReduxDetox.wps
sbs: /.rockbox/wps/digitalReduxDetox.sbs
iconset: /.rockbox/icons/adwaitapod_dark.bmp
viewers iconset: /.rockbox/icons/adwaitapod_dark_viewers.bmp
show icons: on
backdrop: -
font: /.rockbox/fonts/20-MPLUSRounded1c-Medium.fnt
foreground color:  ffb284
background color: 000000
selector type: bar (color)
line selector start color: ffb284
line selector text color: 000000
statusbar: custom
scrollbar: right
ui viewport: -

## These are my personal defaults. Enable them for cool-looking smooth scrolling no screen fade in/fade out
## and quickscreen brightness controls
# bidir limit: 0
# backlight fade in: 0
# backlight fade out: 0
# scroll speed: 15
# scroll delay: 3000
# scroll step: 1
# qs top: brightness
# qs bottom: brightness
